<launch>
  <arg name="run_satellite_downloader" default="true"/>
  <arg name="run_global_localizer" default="true"/>
  <arg name="run_local_semantic_mapper" default="true"/>
  <arg name="run_map_match_evaluator" default="false"/>
  <arg name="run_efficient_loftr" default="false"/>
  <arg name="run_eloftr_file_queue" default="false"/>

  <node if="$(arg run_satellite_downloader)"
        pkg="fast_livo2_global_localization"
        type="satellite_tile_downloader.py"
        name="satellite_tile_downloader"
        output="screen">
    <rosparam file="$(find fast_livo2_global_localization)/config/satellite_downloader.yaml" command="load"/>
  </node>

  <node if="$(arg run_global_localizer)"
        pkg="fast_livo2_global_localization"
        type="global_localizer_node"
        name="global_localizer_node"
        output="screen">
    <rosparam file="$(find fast_livo2_global_localization)/config/global_localizer.yaml" command="load"/>
  </node>

  <node if="$(arg run_local_semantic_mapper)"
        pkg="fast_livo2_global_localization"
        type="local_geometric_semantic_mapper.py"
        name="local_geometric_semantic_mapper"
        output="screen">
    <rosparam file="$(find fast_livo2_global_localization)/config/local_geometric_semantic_mapper.yaml" command="load"/>
  </node>

  <node if="$(arg run_efficient_loftr)"
        pkg="fast_livo2_global_localization"
        type="efficient_loftr_bridge.py"
        name="efficient_loftr_bridge"
        output="screen">
    <rosparam file="$(find fast_livo2_global_localization)/config/efficient_loftr.yaml" command="load"/>
  </node>


  <group if="$(arg run_eloftr_file_queue)">
    <node pkg="fast_livo2_global_localization"
          type="eloftr_queue_exporter.py"
          name="eloftr_queue_exporter"
          output="screen">
      <rosparam file="$(find fast_livo2_global_localization)/config/eloftr_file_queue.yaml" command="load"/>
    </node>

    <node pkg="fast_livo2_global_localization"
          type="eloftr_queue_result_publisher.py"
          name="eloftr_queue_result_publisher"
          output="screen">
      <rosparam file="$(find fast_livo2_global_localization)/config/eloftr_file_queue.yaml" command="load"/>
    </node>
  </group>

  <node if="$(arg run_map_match_evaluator)"
        pkg="fast_livo2_global_localization"
        type="map_match_evaluator.py"
        name="map_match_evaluator"
        output="screen">
    <param name="gps_topic" value="/ublox/f9p/fix"/>
    <param name="map_match_pose_topic" value="/map_match_pose"/>
    <param name="satellite_yaml" value="/home/dawn/maps/fast_livo2_global_localization/satellite_mosaic.yml"/>
    <param name="origin_mode" value="satellite_center"/>
    <param name="max_time_diff" value="3.0"/>
    <param name="use_latest_gps_if_unsync" value="true"/>
    <param name="max_gps_std" value="10.0"/>
    <param name="csv_path" value="/home/dawn/maps/fast_livo2_global_localization/map_match_error.csv"/>
  </node>
</launch>
